body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(14, 29, 43);
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0s, width 0.3s, height 0.3s;
  pointer-events: none;
}
body #magicMouseCursor.cursor-square {
  border-radius: 0;
}

body #magicPointer {
  height: 10px;
  width: 10px;
  top: 0;
  left: 0;
  position: fixed;
  background: rgb(138, 138, 138);
  /* rgb(202, 180, 180) */
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}
body #magicPointer.is-hover {
  background: rgb(1, 0, 56);
}
body #magicPointer.pointer-blur {
  height: 50px;
  width: 50px;
  background: none;
  border: 1px solid rgb(126, 70, 70);
  box-shadow: 0px 0px 15px -5px rgb(168, 0, 0);
}
body #magicPointer.pointer-overlay {
  height: 80px;
  width: 80px;
  mix-blend-mode: color-burn;
  box-shadow: 0px 0px 15px -5px white;
}

body .magic-hover {
  transition: all 0.2s;
}
body .magic-hover:hover {
  cursor: none;
}
