html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.brief{
  padding:100px 10% 300px 30px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

a:link {
    text-decoration: none;
    color:rgb(71, 71, 71);
  }
  
  a:visited {
    text-decoration: none;
    color:rgb(71, 71, 71);
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  a:active {
    text-decoration: none;
    color: rgb(177, 22, 22);
  }
@media only screen and (min-width: 0px) and (max-width: 600px)
{

/* menu button */
.buttoncage{
    position: fixed;
    top:40px;
    right:30px;
    height:50px;
    width:50px;
    z-index: 1;
}
.line1{
position: fixed;
width: 31px;
height: 0px;
right:30px;
top: 69px;
border: 2px solid #F83207;
z-index: 1;
}
.line2{
    position: fixed;
    width: 31px;
    height: 0px;
    right:34px;
    top: 59px;
    z-index: 1;
    border: 2px solid #F83207;
}
.line3{
    position: fixed;
    width: 31px;
    height: 0px;
    right:38px;
    top: 49px;
    z-index: 1;
    border: 2px solid #F83207;
}
.closebtncage{
    position: absolute;
    top:40px;
    right:30px;
    height:50px;
    width:50px;
}
.line4{
    position: absolute;
    width: 31px;
    height: 0px;
    right:5px;
    top:15px;
    border: 2px solid #F83207;
    transform: rotate(45deg); 
}
.line5{
    position: absolute;
width: 31px;
height: 0px;
right:5px;
top:15px;
border: 2px solid #F83207;
transform: rotate(-45deg);
}


html{
    background: #E5E5E5;
}



/* navigation */
.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  
  background-color: rgba(231, 231, 231, 0.575);
  
  backdrop-filter: blur(20px);
  overflow-x: hidden;
  transition: 0.2s;
}

.navigation-content {
  position: relative;
  top: 10%;
  margin:0 auto;
  width: 70%;
  text-align: left;
  margin:0 auto;
}


.navigation a {
  
    font-family: 'Montserrat', sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  
  display: block;
  transition: 0.3s;
}
.sidebar{
   display: none;
  }  
  .sitename{
  
padding:10px 0 0 20px ;
z-index: 1;
}
.rside{
    padding-top:0px;
    margin:0 auto;
      width:90%;
      height: 100%;
      display: flex;
      flex-direction:row;
      flex-wrap:wrap;  
      
  }   
  .pbox{
    position: relative;
    max-width:100%;
    min-width:250px;
    background:white;
    margin:10px 10px 0 10px;
  }
  
  .pic{  display: block;
    margin:10px 10px 0 0;
   width:100%;
    opacity:1;
    transition: .5s ease;
  }
  .pinfo{
      
    transition: .5s ease;
    opacity: 0;
    position: absolute;
   bottom:0;
    text-align: center;
    width:100%;
  }
  #p{
      transition: .5s ease;
      padding: 2px 20px 20px 20px;
      color: black;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  .pbox:hover .pic {
    opacity: 0.6;
    filter: grayscale(100%);
  }
  
  .pbox:hover .pinfo {
    opacity: 1;
    padding-bottom: 50px;

  }
.col1{

}
.col2{

}

} 
  @media only screen and (min-width: 601px) and (max-width: 1023px)
{

    .sitename{
       
    padding:20px 0 0 30px ;
    }
/* menu button */
.buttoncage{
    position: fixed;
    top:40px;
    right:30px;
    height:50px;
    width:50px;
    z-index: 1;
}
.line1{
position: fixed;
width: 31px;
height: 0px;
right:30px;
top: 69px;
border: 2px solid #F83207;
z-index: 1;
}
.line2{
    position: fixed;
    width: 31px;
    height: 0px;
    right:34px;
    top: 59px;
    z-index: 1;
    border: 2px solid #F83207;
}
.line3{
    position: fixed;
    width: 31px;
    height: 0px;
    right:38px;
    top: 49px;
    z-index: 1;
    border: 2px solid #F83207;
}
.closebtncage{
    position: absolute;
    top:40px;
    right:30px;
    height:50px;
    width:50px;
}
.line4{
    position: absolute;
    width: 31px;
    height: 0px;
    right:5px;
    top:15px;
    border: 2px solid #F83207;
    transform: rotate(45deg); 
}
.line5{
    position: absolute;
width: 31px;
height: 0px;
right:5px;
top:15px;
border: 2px solid #F83207;
transform: rotate(-45deg);
}


html{
    background: #E5E5E5;
}



/* navigation */
.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  
  background-color: rgba(231, 231, 231, 0.575);
  
  backdrop-filter: blur(20px);
  overflow-x: hidden;
  transition: 0.2s;
}

.navigation-content {
  position: relative;
  top: 10%;
  margin:0 auto;
  width: 70%;
  text-align: left;
  margin:0 auto;
}


.navigation a {
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  
  display: block;
  transition: 0.3s;
}
.sidebar{
  display: none;
}
.rside{
    padding-top: 0px;
    padding-left: 10%;
    margin:0 auto;
      width:90%;
      height: 100%;
      display: flex;
      flex-direction:row;
      flex-wrap:wrap;  
  }   
  .col1{
    width:50%;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;  
  } 
  .col2{
    width:50%;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;  
  }
  .pbox{
    
    position: relative;
    max-width:100%;
    min-width:250px;
    background:white;
    margin:0 80px 60px 0;
  }
  
  .pic{  display: block;
    margin:0px 10px 0 0;
   width:100%;
    opacity:1;
    transition: .5s ease;
  }
  .pinfo{
      
    transition: .5s ease;
    opacity: 0;
    position: absolute;
   bottom:0;
    text-align: center;
    width:100%;
  }
  #p{
      transition: .5s ease;
      padding: 2px 20px 20px 20px;
      color: black;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
  }
  .pbox:hover .pic {
    opacity: 0.6;
    filter: grayscale(100%);
  }
  
  .pbox:hover .pinfo {
    opacity: 1;
    padding-bottom: 50px;
 
  }

}

@media only screen and (min-width: 1024px) 
{


html{
    background: #E5E5E5;
}

.msite{
    display: none;
}

    .sidebar{
        height:100vh;
        width:30%;
        position: fixed;
        overflow: auto;
      }  
      .sitenamesb{
        
    width:200px;
    padding:100px 20px 20px 25% ;
    }
    .sitename{
     
       display: none;
    }
    
      .navigation-content{
        margin:100px 20px 20px 30%;
      }
      .navlink{
          font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        margin:10px 0 0 0 ;
        
    }
    .rside{
        padding-top: 100px;
        margin-left:30%;
          width:70%;
          height: 100%;
          display: flex;
          flex-direction:row;
          flex-wrap:wrap;  
      }   
      .col1{
        width:50%;
        display: flex;
        flex-direction:column;
        flex-wrap:nowrap;  
      } 
      .col2{
        width:50%;
        display: flex;
        flex-direction:column;
        flex-wrap:nowrap;  
      }
      .pbox{
        
        position: relative;
        max-width:100%;
        min-width:250px;
        background:white;
        margin:0 80px 60px 0;
      }
      
      .pic{  display: block;
        margin:0 10px 0 0;
       width:100%;
        opacity:1;
        transition: .5s ease;
      }
      .pinfo{
         
        transition: .5s ease;
        opacity: 0;
        position: absolute;
       bottom:0;
        
        width:100%;
        
      }
      #p{
   
    transition: .5s ease;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
      }
      .pbox:hover .pic {
        opacity: 0.6;
        filter: grayscale(100%);
  
      }
      
      .pbox:hover .pinfo {
        opacity: 1;
        padding-bottom: 50px;
        
      }
    .openbtn{
  display: none;
    }
  .closebtn{
      display: none;
  
  }
}