
.line1{
  position: fixed;
width: 2370px;
height: 0px;
left:-1020px;
top: 0px;
z-index:-1;
border: 1px solid #C4C4C4;
transform: rotate(90deg);
}
.line2{
  position: fixed;
width: 2370px;
height: 0px;
right:-1100px;
top: 0px;
  z-index:-1;

border: 1px solid #C4C4C4;
transform: rotate(90deg);
}
.mainbody{
  display: flex; 
   flex-direction: row;
  justify-content: flex-start;
  
}


.header{
 
  position: fixed;  
  height:90vh;
  width:150px;
  padding:10px;
  display: flex; 
   flex-direction: column;
  justify-content: space-around;
  
}

.name{
 
font-family: Prompt;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.02em;

color: #000000;

transform: rotate(-90deg);
  
}

.work{
  font-family: Prompt;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
letter-spacing: -0.02em;

color: #000000;

transform: rotate(-90deg);
}

.about{
font-family: Prompt;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

color: #000000;

transform: rotate(-90deg);
}

.chipbody{
  margin-left: 150px;
  display: flex; 
    flex-flow: row wrap;
  justify-content:flex-start;
  align-items: baseline ;
}

.item1{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 451px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.image1{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1607695635/Screenshot_6_cdels4.png);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.item1info{
  padding-top:17px;
  padding-left:15px;
width: 224px;
height: 34px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;

color: #000000;
}
.item2{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 307px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.image2{
  position:relative;
  left: 0px;
  top: -63px;
width: 260px;
height: 307px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1607695656/Screenshot_11_csmev2.png);
  
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.newbox{
  width: 260px;
height:37px;
background: #FFFFFF;
  position:relative;
  left: 0;
  top: -66px;
}
.item2info{
 width:240px;
   position:relative;
  left: 14px;
  top: -84px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;

color: #000000;
}
.itemearth{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 331px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.imageearth{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1611069007/print_1_ty35f5.png);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.itemearthinfo{
  padding-top:28px;
  padding-left:15px;
width: 224px;
height: 34px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;
position:relative;
  left:0px;
  top: -124px;
color: #000000;
}

.item3{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 331px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.image3{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1611066858/Pattern_4_jqzpim.jpg);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.item3info{
  padding-top:28px;
  padding-left:15px;
width: 224px;
height: 34px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;
position:relative;
  left:0px;
  top: -124px;
color: #000000;
}

.itemtran{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 400px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.imagetran{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1611068435/15_y8mecr.jpg);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.itemtraninfo{
  padding-top:28px;
  padding-left:15px;
width: 224px;
height: 34px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;
position:relative;
  left:0px;
  top: -45px;
color: #000000;
}


.item4{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 410px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.image4{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1607695630/Screenshot_10_xafxs3.png);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.item4info{
  width:250px;
   position:relative;
  left: 15px;
top: -12px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;

color: #000000;
}
.item5{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 401px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}

.image5{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1607695640/Screenshot_7_q1fjhb.png);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.item5info{
  width:250px;
   position:relative;
  left: 14px;
  top: -25px;
font-family:Prompt;
font-size: 13px;
line-height: 16px;

color: #000000;
}
.item6{ 
   display: flex; 
   flex-direction: column;
  justify-content: flex-start;
  margin:20px;
width: 260px;
height: 300px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  
}
.image6{
width: 260px;
height: 385px;
background: #F00FFF;
background: url(https://res.cloudinary.com/dyag5tn5v/image/upload/v1607698812/Screenshot_12_bmwcyg.png);
   background-repeat: no-repeat;
  background-size: 260px ;
border-radius: 6px 6px 0px 0px;
}
.item6info{
 width:250px;
   position:relative;
  left: 14px;
  top: -120px;
font-family: Prompt;
font-size: 13px;
line-height: 16px;

color: #000000;
}
a:link { text-decoration:none;
  color: #000000;
}

/* visited link */
a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* selected link */
a:active {
  color: #000000;
}

@media only screen and (max-width: 450px) {
  .chipbody {
    margin-top:100px;
    margin-left:60px;  }
.header {
  height:100%;
padding:30px;
    width:10px; }
.line1 {
left:-1080px; }
}
